@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('/fonts/AtlasGrotesk/AtlasGrotesk-Light-Web.woff2');
	font-weight: 300; /*light = 300*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('/fonts/AtlasGrotesk/AtlasGrotesk-Regular-Web.woff2');
	font-weight: normal; /*normal = 400*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('/fonts/AtlasGrotesk/AtlasGrotesk-Medium-Web.woff2');
	font-weight: 500; /*medium = 500*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('/fonts/AtlasGrotesk/AtlasGrotesk-Bold-Web.woff2');
	font-weight: bold; /*bold = 700*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Black-Web.woff2');
	font-weight: 900; /*black/heavy = 900*/
}

h1,
h2,
h3,
h4,
h5,
p {
	max-width: 60ch;
}

html,
body {
	font-family: 'Atlas Grotesk', sans-serif;
	font-weight: 500;
}

.reshape-copy {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
}

@responsive {
	.reshape-lead-medium {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}
	.reshape-desktop-lead-medium {
		font-weight: 500;
		font-size: 60px;
		line-height: 72px;
	}
}
@responsive {
	.reshape-lead-light {
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;
	}
}

.reshape-gradient-bg {
	background: linear-gradient(
		to right,
		#cd9bff 0%,
		white 20px,
		white calc(100% - 20px),
		#cd9bff 100%
	);
}

@responsive {
	.reshape-section-header {
		font-size: 40px;
		line-height: 48px;
	}
	.reshape-desktop-section-header {
		font-size: 60px;
		line-height: 72px;
	}
}

.reshape-subsection-header {
	font-size: 40px;
	line-height: 48px;
}

@responsive {
	.inset {
		padding-left: 24px;
		padding-right: 24px;
	}

	.inset-negative {
		margin-left: -24px;
		margin-right: -24px;
	}

	.inset-left {
		padding-left: 31px;
	}
}

.text-muted {
	color: #aaa;
}

.reshape-link::after {
	content: '';
	display: inline-block;
	width: 9px;
	height: 9px;
	background-image: url('/icon-link.svg');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 3px;
}
