@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
p {
	max-width: 60ch;
}

html,
body {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}

.reshape-copy {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
}

@responsive {
	.reshape-lead-medium {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}
	.reshape-desktop-lead-medium {
		font-weight: 500;
		font-size: 60px;
		line-height: 72px;
	}
}
@responsive {
	.reshape-lead-light {
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;
	}
}

.reshape-gradient-bg {
	/* background: linear-gradient(
		to right,
		#cd9bff 0%,
		white 20px,
		white calc(100% - 20px),
		#cd9bff 100%
	); */
}

@responsive {
	.reshape-section-header {
		font-size: 40px;
		line-height: 48px;
	}
	.reshape-desktop-section-header {
		font-size: 60px;
		line-height: 72px;
	}
}

.reshape-subsection-header {
	font-size: 40px;
	line-height: 48px;
}

@responsive {
	.inset {
		padding-left: 24px;
		padding-right: 24px;
	}

	.inset-negative {
		margin-left: -28px;
		margin-right: -28px;
	}

	.inset-left {
		padding-left: 31px;
	}
}

.text-muted {
	color: #aaa;
}

.reshape-link::after {
	content: '';
	display: inline-block;
	width: 9px;
	height: 9px;
	background-image: url('/icon-link.svg');
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 3px;
}
